
/*

.container {
     display: flex;
     align-items: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px ;
    padding-left: 60px;
}

.card {
    background-color: var(--color-white);
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
article {
    display: block;
}
body {
    margin: 0;
    font-size: 100%;
    font-family: var(--font-sans);
}
:root {
    --color-neutral-light: #e9e2e5;
    --color-neutral-medium: #94888e;
    --color-neutral-dark: #4a3f43;
}
:root {
    --color-neutral-light: #e4e2e9;
    --color-neutral-medium: #8c8894;
    --color-neutral-dark: #423f4a;
    --color-white: #fff;
    --color-black: #111;
    --header-height: 3rem;
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: Cambria, Georgia, "Times New Roman", serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
    nav {
        align-items: right;
    }
    */

    :root {
        --color-neutral-lighter:#f4f2ea;
        --color-neutral-light:#efecdf;
        --color-neutral-medium:#dbd7c3;
        --color-neutral-dark:#bab399;
     }
     
     
     body {
        background-color:#f8f8fa;
        padding-bottom:10em;
     }
     
     
     
     
     /* PRODUCT IN LIST */
     .product {
        margin:0;
        border-radius:0.5em;
        position:relative;
        overflow:hidden;
        background-color:var(--color-neutral-lighter);
        display:inline-block;
        transition:all 0.3s;
       
     }
     .product:hover {
        text-decoration:none;
        box-shadow:0 0 15px rgba(0,0,0,0.3);
     }
     .product-image img {
         max-width:100%;
         vertical-align:middle;
     }
     .product-caption {
        padding:1em;
     }
     .product-price {
        font-size:1.2em;
     }
     .product-title {
        font-size:0.9em;
        font-weight: 500;
     }

     .product-list .product {
      height:100%;
      width: 100%;
   }

     .image-main {
        width:100%;
        height:0;
        position:relative;
        padding-bottom:70%;
     }

     .image-main img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     
     .image-thumbs img {
        width: 8em;
        height: 6em;
        object-fit: cover;
     }
     
     
     .product-display .product-title {
        font-size:2.1em;
        font-weight:300;
     }
     
     
     .product-list [class*='col-']>.card {
        height:100%;
     }

     .card-section {
      margin-top: 1em;
      padding-top: 1em;
   
   }

   

   .navbar .badge {
      position: absolute;
      top: 0;
      right: -0.5em;
      font-size: 0.5em;
      padding: 0.4em;
      border-radius: 1em;
      background-color: black;
      color: white;
      line-height: 1;
      pointer-events: none;
   }
   
   .navbar .badge:empty {
      display:none;
   }
     
   media (max-width:1800px) {
      .container {
         padding-left: 10px;
         padding-right: 10px;
   }
   }
   
   
   @media (max-width:500px) {
      :root {
         --header-height:2rem;
      }
   }