
    :root {
        --color-neutral-lighter:#f4f2ea;
        --color-neutral-light:#efecdf;
        --color-neutral-medium:#dbd7c3;
        --color-neutral-dark:#bab399;
     }
     
     
     body {
        background-color:#f8f8fa;
        padding-bottom:0em;
     }
     
     
     
     
     /* PRODUCT IN LIST */
     .product {
        margin:0;
        padding-top: 1em;
        border-radius: 0;
        position:relative;
        overflow:hidden;
        /*background-color:var(--color-neutral-lighter);*/
        display:inline-block;
        transition:all 0.3s;
        font-family: var( --font-sans), var( --font-serif);
       
     }
     .product:hover {
        text-decoration:none;
        box-shadow:0 0 15px rgba(0,0,0,0.3);
     }

     /*.product-image {
       padding-top: 1em;
     }*/
     .product-image img {
      position: relative;
      /* object-fit: cover; */
         max-width:100%;

         vertical-align:middle;
     }
     .product-caption {
        padding-top:1em;
        padding-left:1em;
        padding-bottom:1em;
     }
     .product-price {
        font-size:0.8em;
        
     }
     .product-title {
      font-family: var( --font-sans);
        font-size:1em;
        font-weight: 500;
     }

     .product-description {
      font-family: var( --font-sans);
        font-size:0.7em;
        font-weight: 300;

     }

     .product-list .product {
      height:100%;
      width: 100%;
   }

     .image-main {
        width:100%;
        height:100%;
        position:relative;
        padding-bottom:100%;
     }

     .image-main img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     
     .image-thumbs img {
        width: 8em;
        height: 6em;
        object-fit: cover;
     }
     
     
     .product-display .product-title {
        font-size:2.1em;
        font-weight:300;
     }
     
     
     .product-list [class*='col-']>.card {
        height:100%;
     }

     .saying{
     border: 2px solid #bab399;
      height:100%;
      width: 100%;
      padding-top: 4em;
      padding-left: 1em;
      padding-right: 1em;

      text-align: center;
      font-family: var(--font-sans);
      color: var(--color-text-light);
     }

    .imgtext {
      padding-top: 2em;
      text-align: center;
      font-family: var(--font-sans);
      color: var(--color-text-light);
    }
      

      .card-section {
      margin-top: 1em;
      padding-top: 1em;
   
   } 

   

   .navbar .badge {
      position: relative;
      top: 1px;
      right: -0.5em;
      font-size: 0.8em;
      padding: 0.5em;
      border-radius:2em;
      background-color: black;
      color: white;
      line-height: 0.8;
      pointer-events: none;
   }
   
   .navbar .badge:empty {
      display:none;
   }

/*article {
    display: block;
}*/
.ourstory {
  width: 100%;
   text-align: center;
}


.ourstory span{
  font-family: var(--font-sans);
  font-weight: 200;

}

.ourstory-top h3 {
  color: var(--color-text-lighter);
  padding-left: 1.6em;
  align-content: center;
}

.ourstory h4 {
  color: var(--color-text-light);
  
  text-align: center;
}
/*imagebox start */
section {
  height: 80vh;
  display: flex;
  
}

.room-gallery {
 
  display: flex;
  padding: 1em;
  align-items: center;
  /*background-color: var(--color-neutral-lighter);*/
}

.room-description {
  width: 100%;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: var(--color-sub-light);*/
  
}
.room-description h1 {
  
  font-size: 1.5em;
  font-family:var(--font-serif);
  color: var(--color-text-dark);
}
.room-description p {
  font-family: var(--font-sans);
  font-size: 1em;
  padding-right: 10px;
  color: var(--color-text-dark);
  font-weight: 200;
}
.gallery-hightlight {
  width: 90%;
  
}
.gallery-hightlight img {
  justify-content: center;
}


/*imagebox end */

/* infotab-start */
.tabs {
  padding-top: 1em;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.tabs ul {
  display: flex;
  list-style: none;
  margin: 2em;
}
.tabs li {
  
  padding: 20px;
  font-family: var(--font-sans);
  color: var(--color-text-light);
  font-weight: 600;
  font-size: 1.2em;
  border: 1px splid #333;
  border-bottom: 0;
  margin-right: 5px;
}

.titlem {
    font-family: var(--font-sans);
  color: var(--color-text-dark);
  font-weight: 400;
  font-size: 1em;
}

#contentm {
  border: none;
  position: relative;
  top: -13px;
}
.tabs li:hover,
.tabs li.active{
  color: var(--color-text-dark);
}
article {
  padding-left: 30px;
}

/* infotab-end */



   /* galleryslider-start */
.imagebar {
  display: flex;
  margin: 0;
 /* padding-top: 0;
  padding-bottom: 1em;*/
  height: 75vh;
  justify-content: center;
  align-items: center;
}

/*.slider {
  width: 800px;
  height: 500px;
  border-radius: 0.8em;
  overflow: hidden;
}*/
.slider {
  width: 70%;
  border-radius: 0.8em;
  overflow: hidden;
}


 .slides {
  display: flex;
  width: 500%;
  height: 500px;
 }

 .slides input {
  display: none;
 }

 .slide {
  width: 20%;
  transition: 2s;
 }
/* .slide img {
  width: 800px;
  height: 500px;
 }
*/
 .navigation-manual {
   position: absolute;
   display: flex;
   width: 800px;
   margin-top: -40px;
   justify-content: center; 

 }

 .manual-btn {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
 }
 .manual-btn:not(:last-child){
  margin-right: 40px;
 }

.manual-btn:hover{
  background: #424c5f;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

/* galleryslider-end */
  
  .nav-toggle label {
   display:none;
}

  @media (max-width:1000px) {
   .container {
      padding-left:10px;
      padding-right:10px;
   }
}
@media (max-width:500px) {
   :root {
      --header-height:3rem;
   }

   .navbar .container {
      flex-wrap:wrap;
   }
   .navbar .nav {
      display:none;
   }
   .nav-toggle label {
      display:block;
      padding:0 0.5em;
   }
   #nav-toggle:checked + .navbar .nav {
      display:block;
      width:100%;
   }
   #nav-toggle:checked + .navbar .nav ul {
      display:block;
      line-height: 2;
      padding-bottom: 0.5em;
   }
}