
/*

.container {
     display: flex;
     align-items: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px ;
    padding-left: 60px;
}

.card {
    background-color: var(--color-white);
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
article {
    display: block;
}
body {
    margin: 0;
    font-size: 100%;
    font-family: var(--font-sans);
}
:root {
    --color-neutral-light: #e9e2e5;
    --color-neutral-medium: #94888e;
    --color-neutral-dark: #4a3f43;
}
:root {
    --color-neutral-light: #e4e2e9;
    --color-neutral-medium: #8c8894;
    --color-neutral-dark: #423f4a;
    --color-white: #fff;
    --color-black: #111;
    --header-height: 3rem;
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: Cambria, Georgia, "Times New Roman", serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
    nav {
        align-items: right;
    }
    */

    :root {
        --color-neutral-lighter:#f4f2ea;
        --color-neutral-light:#efecdf;
        --color-neutral-medium:#dbd7c3;
        --color-neutral-dark:#bab399;
     }
     
     
     body {
        background-color:#f8f8fa;
        padding-bottom:0em;
     }
     
     
     
     
     /* PRODUCT IN LIST */
     .product {
        margin:0;
        border-radius:0.5em;
        position:relative;
        overflow:hidden;
        background-color:var(--color-neutral-lighter);
        display:inline-block;
        transition:all 0.3s;
       
     }
     .product:hover {
        text-decoration:none;
        box-shadow:0 0 15px rgba(0,0,0,0.3);
     }
     .product-image img {
      position: relative;
      /* object-fit: cover; */
         max-width:100%;
         vertical-align:middle;
     }
     .product-caption {
        padding:1em;
     }
     .product-price {
        font-size:1.2em;
     }
     .product-title {
        font-size:0.9em;
        font-weight: 500;
     }

     .product-list .product {
      height:100%;
      width: 100%;
   }

     .image-main {
        width:100%;
        height:100%;
        position:relative;
        padding-bottom:100%;
     }

     .image-main img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
     
     .image-thumbs img {
        width: 8em;
        height: 6em;
        object-fit: cover;
     }
     
     
     .product-display .product-title {
        font-size:2.1em;
        font-weight:300;
     }
     
     
     .product-list [class*='col-']>.card {
        height:100%;
     }

      .card-section {
      margin-top: 1em;
      padding-top: 1em;
   
   } 

   

   .navbar .badge {
      position: relative;
      top: 0.5em;
      right: -0.5em;
      font-size: 0.7em;
      padding: 0.2em;
      border-radius: 1em;
      background-color: black;
      color: white;
      line-height: 1;
      pointer-events: none;
   }
   
   .navbar .badge:empty {
      display:none;
   }

   /* galleryslider-start */
.imagebar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/*.slider {
  width: 800px;
  height: 500px;
  border-radius: 0.8em;
  overflow: hidden;
}*/
.slider {
  width: 80%;
  border-radius: 0.8em;
  overflow: hidden;
}


 .slides {
  display: flex;
  width: 500%;
  height: 500px;
 }

 .slides input {
  display: none;
 }

 .slide {
  width: 20%;
  transition: 2s;
 }
/* .slide img {
  width: 800px;
  height: 500px;
 }
*/
 .navigation-manual {
   position: absolute;
   display: flex;
   width: 800px;
   margin-top: -40px;
   justify-content: center; 

 }

 .manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
 }
 .manual-btn:not(:last-child){
  margin-right: 40px;
 }

.manual-btn:hover{
  background: #424c5f;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: white;
}

/* galleryslider-end */
  
   @media (max-width:1000px) {
      .container {
         padding-left: 10px;
         padding-right: 10px;
      }
   }
   
   @media (max-width:500px) {
      :root {
         --header-height:2rem;
      }
   }